@model oSportApp.Models.Player

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row">
        <div class="col-lg-6">
            <div class="col-lg-12">
                <h4>@Model.FirstName @Model.LastName</h4>
            </div>
            <div class="col-lg-12">
                <p>Goals :</p>
            </div>
            <div class="col-lg-12">
                <p>Kit #: :</p>
            </div>
            <div class="col-lg-12">
                <p>Player Position :</p>
            </div>
        </div>
        <div class="col-lg-6">
            <h4>Matches</h4>
        </div>
    </div>


