@model oSportApp.Models.TeamPlayer

@{
    ViewData["Title"] = "Join";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Join</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CoachTeam.Team"></label>
                <select asp-for="CoachTeamId" class="form-control" asp-items="ViewBag.Teams"></select>
                <span asp-validation-for="CoachTeamId" class="text-danger"></span>
            </div>
            <div class="row">

                @Html.HiddenFor(model => model.PlayerId)
                <input type="hidden" id="PlayerId" name="PlayerId" value="@Model.PlayerId" />
            </div>
            <div class="form-group">
                <label asp-for="Position"></label>
                <select asp-for="PositionId" class="form-control" asp-items="ViewBag.Positions"></select>
                <span asp-validation-for="PositionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KitNumber" class="control-label"></label>
                <input asp-for="KitNumber" class="form-control" />
                <span asp-validation-for="KitNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Join" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

